/*mijn css bestand*/
html, 
body, 
#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.empower:not(:hover) {
	fill: #B3C5D7;
}

#overlay {
	z-index: 1100;
/*	width: 100%;
	height: 100%;*/
	margin: 0;
	padding: 0;
	background-color: transparent;
}

.sidebar {
	width: 250px;
	z-index: 1100;
	position: fixed;
	top: 0;
	background: #fff;
	border-radius: 20px;
}

.sidebar-right {
	right: 0;
	margin: 50px;
	height: 500px;
	/*height: calc(100% - 150px);*/

}

.sidebar-left {
	left: 0;
	height: 100%;
}