/*mijn css bestand*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body, 
#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    color: #24337A;
}

h1 {
	font-size: 1.5em;
	font-weight: 500;
	color: #E5E5E5;
	margin-bottom: 25px;
}

h2 {
	width: 150px;
	font-size: 1.3em;
	margin-bottom: 20px;
}

p {
	font-size: 0.9em;
	margin-bottom: 20px;
}

/*.empower:not(:hover) {
	fill: #B3C5D7;
}*/

.empower:hover {
	stroke-width: 3;
}

#overlay {
	z-index: 1100;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

#sidebar-away {
	height: 40px;
	width: 50px;
	border-radius: 0 20px 20px 0;
	position: absolute;
	top: 100px;
	right: -30px;
	background: #fff;
	box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.1);
	cursor: pointer;
}

#sidebar-away img {
	height: 20px;
	margin: 10px 10px 10px 20px;
}

.sidebar {
	width: 250px;
	z-index: 1100;
	position: absolute;
	top: 0;
	background: #fff;
	box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.1);
}

.sidebar-menu {
	position: absolute;
	left: 0;
	z-index: 1100;
	margin: 30px 50px;
	transition: 0.8s all;
}

.sidebar-right {
	right: 0;
	margin: 50px;
	border-radius: 20px;
	/*height: calc(100% - 100px);*/
	height: 470px;
	opacity: 0.8;
	padding: 30px 40px;
}

.sidebar-left {
	left: -280px;
	height: 100%;
	/*border-radius: 0 50px 50px 0;*/
	border-radius: 0 20px 20px 0;
	transition: 0.8s all;
}

.sidebar-content {
	height: 100%;
	overflow-y: scroll;
	padding: 30px 40px;
}

.sidebar h3 {
	font-size: 0.9em;
	font-weight: 600;
	margin-bottom: 5px;
}

.sidebar #region {
	font-size: 0.9em;
	font-weight: 500;
	color: #B4DF38;
	margin-bottom: 5px;
}

#sidebar-svg {
	width: 100%;
	/*height: 100%;*/
	margin-bottom: 10px;
}

.sidebar-gemeente {
	fill: white;
	stroke-width: 2;
	stroke: #ACD2ED;
	width: 100%;
	/*height: 100%;*/
	padding: 10px;
}

.initiatives {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.initiatives p:nth-child(1) {
	margin: 0;
	font-size: 0.9em;
	font-weight: 500;
}

.initiatives p:nth-child(2) {
	margin: 2px 0 0 0;
	color: #6A67F6;
	font-size: 0.6em;
	font-weight: 500;
}

.initiatives img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.round-button {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	background-color: #fff;
	opacity: 0.9;
	margin: 15px 0;
	z-index: 1100;
	cursor: pointer;
	box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.1);
	transition: 0.5s all;
}

/*.round-button:hover {
	background-color: #6A67F6;
}*/

/*.round-button:hover p {
	color: #fff;
}*/

.round-button img {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.round-button p {
	color: #24337A;
	font-size: 1.9em;
	padding: 3px 9px;
	transition: 0.5s all;
}

.round-button:nth-child(3) img {
	width: 20px;
	height: 20px;
	margin: 9px 10px;
}

/*.initiatives section {
	overflow: scroll;
}
*/
#initiative-title {
	margin: 40px 0 10px;
	font-size: 1.2em;
}